/* index page*/
    @media only screen and (max-width: 431px) {
        /* Website top container */
        .web-top-header-container > li{
            font-size: 8px !important;
        }
        .header-nav li > img{
            width: 1rem !important;
            height: auto !important;
        }

        a img.top{
            width: 1rem !important;
        }

        .head-lang {
            font-size: 10px !important;
        }

        .head-lang option {
            font-size: 8px !important;
        }


        /* Website title section */
        h1.logo img{
            width:5rem !important ;
        }

        span.department-title span a h2{
            font-size: 100%;
        }

        a.sw-logo img{
            width:2rem;
        }

        /* blank-section below carousel */
        #section-padding {
            padding: 0.4rem 0 !important;
        }

        /* index card-section */
        .card-container .announcements-card, .card-container .results-card{
            width:90% !important;
            margin: 20px auto;
        }

        .card-container > div > div > h3 {
            font-size:large !important; 
        }
        
        .card-container > div > div > h3 img{
            width:25px !important;
        }

        .card-body .card-list > .body-font .head-5 {
            font-size: 100% !important;
            font-weight: 600;
        }

        .card-body .card-list > .body-font {
            font-size: 80% !important;
        }

        .card-header{
            padding:3px 0 !important;
        }

        .card-footer{
            padding: 0 !important;
        }

        .card-footer > a{
            padding: 3px 6px !important;
            font-size: 10px !important;
        } 

        ul.card-list {
            row-gap: 3px !important;
        }
        
        ul.card-list > a {
            padding: 8px 5px !important;
        } 

        .card-body{
            height:140px !important;
        } 

        /* All page footer flex-slider */
        .flexslider .slidesTwo li img{
            width:50% !important;
        } 

        .footer-top-wrapper ul {
            display: inline-block !important;
         
        } 
      
        .footer-top-wrapper ul > li{
            
            text-align: center !important;
            width: auto !important;
        }

        .flex-direction-nav a:before {
            font-size: 16px !important;
        }

        .copyright-content{
            font-size: 10px !important;
        }

        .footer-top-wrapper ul li:after {
            content: '|' !important;
        }


        /* About section  */
        .menu-section{
            width: 100% !important;
            flex-direction: column !important;
            flex-wrap: wrap !important;
            column-gap: 5px !important;
            margin-bottom: 1rem !important;
        }

        .menu-section > a {
            padding: 6px 3px !important;
            font-size: 12px !important;
        }

        .about-container{
            flex-flow: column !important;
        }

        .about-content-section  h1, #tables h1, #recruitment-content h1, #fontSize h1{ 
            font-size: 120% !important;
        }

        #recruitment-content h2, .helpline-card h2{
            font-size: 110% !important;
        }

        .about-content-section  h3, .about-content h3,#fontSize h3{
            font-size: 105% !important;
        }

        #about-content > p, #tables p, #recruitment-content p, #recruitment-content ul > li, #recruitment-content ol > li,.info p, .helpline-card p, #fontSize p{ 
            font-size: 12px !important;
        }

        #tables tr > td , #tables tr > th{
            font-size: 7px !important;
        }

        
        
        /* Recruitment Process */
            /* download syllabus */
            a .down-syll{
                width:2rem !important;
            }

            /* result section */
            .year-buttons {
                gap: 5px !important;
                margin-bottom: 10px !important;
            }
            
            .year-buttons a {
                padding: 5px 10px !important;
                font-size: 8px !important;
            }

        
            /* Contact us */
        .contact-container {
            width: 100%;
            box-sizing: border-box;
            
        }

        .contact-card{
            width: 90%;
            display:flex;
            flex-wrap: wrap-reverse !important;
            margin: 10px auto;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        }

        .message h1 {
            display: none;
        }

        .contact-card{
            width: 95%;
            flex-flow: row wrap;
            margin: 10px auto;
            gap: 15px;
        }

        .contact-card .message ,.contact-card .information{
            width:100%;
        }

        
}

@media only screen and (min-width: 362px) and (max-width: 769px) {

}