
/* About section start*/
#about-content > p {
	font-size: 15px;
}
/* About section end*/


/* Home > Notices > Recruitments > Selecttion Procedure */
.syllabus-download{
    background-color: #015296;
    padding:10px 8px 14px 10px;
    border-radius: 10px;
    color:white;
}

a > .syllabus-download{
    text-decoration: none;
}

a img{
    width: 4rem;
    height: auto;
}

#recruitment-content > ul > li {
	margin-bottom: 10px;
}


#recruitment-content > p, #recruitment-content > ul > li {
	font-size: 15px;
}

/* Do's and Don'ts */
#recruitment-content section div ol > ul > li {
	margin-bottom: 10px;
} 

/* Document verification Process */
#recruitment-content section div > ul > li, #recruitment-content section div > ol > li {
	font-size: 15px;
}



#recruitment-content section div > ul > li{
	margin-bottom: 10px;
}


/* Home > Acts & Rules - .about-content*/
#about-content{
	padding: revert;
}

/* Do's and  Don'ts  */

#list .container > ol > ul{
	box-sizing: border-box;
	padding: revert;
}

#list .container > ol > li{
	margin-bottom: 10px;
}


/* results start */
.year-buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
    margin-bottom: 20px;
}

.year-buttons a {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #015296;
    color: #fff;
    border: none;
    border-radius: 5px;
	font-weight: 600;
    transition: background-color 0.3s ease;
}

.year-buttons a:hover {
    background-color: #002654;
}

.results-container {
    padding: 10px;
}

table{
	border-collapse: collapse;
}

table tbody > tr > td{
	font-weight: 550;
}

table tbody > tr:hover{
	background-color: #b1d0ec;
}

table tbody > tr > td > a:hover{
	color: #002654;
	text-decoration:underline;
}
/* results end */


/* Notice Board start */
#nb-tr-1{
	width: fit-content;
}

#nb-tr-2{
	width: fit-content;
}

#nb-tr-4{
	width: fit-content;
}
/* Notice Board end*/

/* Tender start*/
#tr-1{
	width:fit-content;
}

#tr-2{
	width: fit-content;
}
/* Tender end */

/* index start */
.card-container{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height:auto;
	column-gap: 3%;
}

.card-container .announcements-card, .card-container .results-card {
	padding:10px;
	height:100%;
	border: white;
	background-color: white;
	border-radius: 8px;
}

.card-header{
	padding:8px 0;
	border-bottom: 3px solid #ccc;
	margin-bottom:10px;
}

.card-body{
	height:235px;
	overflow-y: auto;
}

.scroller{
	scrollbar-color:  #002654 white ;
	border: 0 solid #002654;
	scrollbar-width: thin;
	scroll-behavior: smooth;

	/* overflow-y: scroll; */
	
}

.card-container > div > div > div >  ul > li{
	margin: 0 5px 10px 10px;
	
}

.card-body {
	height: 214px;
}

.card-container > div > div > h3 {
	font-size:x-large; 
	font-weight: 600;
}

.card-container > div > div > h3 img{
	width:38px;
}

.card-container .announcements-card{
	width: 60%;
}
.card-container .results-card{
	width: 37%;
}

ul.card-list{
	list-style-type: none;
	display:flex;
	flex-direction: column;
	row-gap: 8px;
}

ul.card-list > a {
	padding: 15px 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	font-weight: 400;
}

.head-5{
	font-size: large;
}

ul.card-list > a:hover{
	background-color: #002654;
	color:white;
	font-weight: 700;
	border-radius: 5px;
}

.card-footer{
	/* border-top: 3px solid #ccc; */
	padding: 8px 0;
	margin-top:10px;
	text-align: right;
}

.card-footer > a{
	border: 1px solid #015296;
	border-radius: 6px;
	padding: 8px 16px;
	background-color: #015296;
	color:white;
}

.card-footer > a:hover{
	border: 1px solid #002654;
	background-color: #002654;
}

/* index end */

/* contact start */
.contact-container{
	width: 100%;
	box-sizing: border-box;
	/* padding: 30px 30px; */
}

.contact-card{
	width: 90%;
	display:flex;
	margin: 10px auto;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.message{
	width: 65%;
	padding:20px;
	background-color: white;
}

.message > iframe{
	width:100%;
}

.information{
	width: 35%;
	padding:20px;
	background-color: #015296;
	color:white !important;
	font-weight: 600;
}

.information > .info {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10px;
}

.information > div{
	margin-bottom: 16px;
}

.information > h1 {
	margin-bottom: 0;
}

.information > .info img{
	width:30px;
	height:30px;
}

.information > .info > p {
	color:white !important;
}

.other-info{
	width: 100%;
}

.super-parent-container{
	width: 100%;
}

.parent-container{
	width: 80%;
	margin:0 auto;
	display: flex;
	flex-flow: row wrap;
	gap: 1.2rem;
	
}

.helpline-card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

 .helpline-card .helpline {
    font-size: 18px;
    color: #007bff;
    margin-top: 10px;
  }


/* contact end */